# Paths #
# If you're using Docker, just leave these as their default values
systemPath = "/fritz" # Path to the project folder
resourcePath = "/app/resources" # Path to the resources folder
pluginPath = "/plugins" # Path to the plugins folder
ptkPath = "/ptk" # Path to PtK's resources. Leave blank if you don't have these

# URLs #
git_url = "https://github.com/murderaxolotl/Fritz-for-Discord" # Git URL to the bot
invite_url = "" # Invite URL for the bot

# General settings #
limit_mcs_command = True # Enables the MCS whitelist. The mcstatus can leak your IP!
block_sysinf_leaks = True # Prevents users not in REGISTERED_DEVELOPERS from using /system and /info commands
hide_platform = True # Hide what platform Fritz is running on. Only applies to Discord - console will still show the platform
enable_plugins = False # Determines whether the plugins folder will be scanned and imported
log_level = "INFO" # Any messages above this level will be logged.

# Core API #
applicationID = "application ID" # Discord application ID
discordToken = "discord bot token" # Discord bot token

developers = [] # List of QUOTED user IDs to mark as trusted developers
blacklisted_users = [] # List of unquoted user IDs to blacklist

# Both of these must be set to enable quotebook features
quote_webhook = "" # Discord webhook URL for quotebook features. Leave blank if you don't want one
quotebook_id = ""  # Discord channel ID  for quotebook features. Leave blank if you don't want one

# Minecraft status settings #
MINECRAFT_ADDRESS = "" # Minecraft server IP address. Leave blank if you don't have one
MINECRAFT_PORT = "" # Minecraft server port. Leave blank if you don't have one
mcs_whitelist = [] # List of quoted server IDs to allow the MC server checks in
